<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trojan.two.dao.UserDao">
    <resultMap type="com.trojan.one.entity.User" id="UserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="userProfile" column="user_profile" jdbcType="VARCHAR"/>
        <result property="userStateId" column="user_state_id" jdbcType="INTEGER"/>
        <result property="isEnabled" column="is_enabled" jdbcType="OTHER"/>
        <result property="isLocked" column="is_locked" jdbcType="OTHER"/>
    </resultMap>
    <select id="getAllUser" parameterType="int" resultType="com.trojan.one.entity.User">
        select * from subtlechat.user
        <where>
            <if test="id!=null">
                id=#{id}
            </if>
        </where>

    </select>
</mapper>